.mainbox {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 45px;
    width: 90vw;
    gap:20px;
    border: orchid;
    margin: auto;
  }
  
  .available {
    background-color: pink;
    display: flex;
    flex-direction: column;
    padding: 45px;
    font-size: 20px;
    align-items: center;
    border: black;
  }
  
  .unavailable {
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    padding: 45px;
    font-size: 20px;
    align-items: center;
    border: black;
  }
  .product-image {
    width: 150px;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
}
